*{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
    display: none;
  }

#root{
  background: black;
}
.nav{
  display: flex;
  z-index: 19;
  box-shadow: 5px 10px #040D12;
  align-items: center;
  justify-content: space-evenly;
  background: #040D12;
  color: white;
  padding: 0 25px;
  height: 10%;
  
}
.title-nav{
  margin-right:auto;
}
/* .title{
  margin-right: auto;
  padding: 0 10px;
  margin-bottom: 12px;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 1.4rem;
} */
.nav > a{
  padding: 0 40px;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Smooch Sans', sans-serif;
}
.Nav-logo{
  width: 40px;
  margin-left:17px;
}
.Hero{
  height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Hero-img
{
    width: 100%;
    height: 100%;
    position: absolute;
}
.Hero-caption{
    right: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  flex-direction:column;
    bottom: 3%;
    max-width:40%;
    max-height: 200px;
    font-family: 'Smooch Sans', sans-serif;
    position: relative;
    z-index: 20;
    color:white;
    text-align: center;
}
.Hero-caption h2{
  
  font-size: 3.2rem;
  max-width:70%; 
  color: whitesmoke;
  padding: 0;
  margin-bottom: 30px; 
}
.Hero-caption p{
  padding: 0;
  font-size: 1.5rem;
  max-width: 60%;
  color: white;
}
.Main{
  padding: 0;
  margin: 0;
  height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Main-img{
  width: 45%;
    height: 50%;
    right: 5%;
    position: absolute;
}
.Main-caption{
   right: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  flex-direction:column;
    bottom: 20%;
    max-width:40%;
    max-height: 200px;
    font-family: 'Smooch Sans', sans-serif;
    position: relative;
    z-index: 20;
    color:white;
    text-align: center;
}
.Main-caption h2{
  
 font-size: 3.2rem;
  max-width:70%; 
  color: whitesmoke;
  padding: 0;
  margin-bottom: 30px;  
}
.Main-caption p{
  padding: 0;
  font-size: 1.5rem;
  max-width: 60%;
  color: white;
}
.Content1{
  padding: 0;
  margin: 0;
  height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
/* .Content1-img{
    width: 35%;
    height: 100%;
    left:5%;
    top: 190%;
    position: absolute;
} */
.Content1-caption{
   
    display: flex;
    flex-direction:column; 
    align-items: center; 
    top: 270%;
    justify-content: center;
    font-family: 'Smooch Sans', sans-serif;
    position: absolute;
    margin-bottom:100px; 
   
    color:white;
     text-align: center; 
      
}
.Content1-caption h2{ 
  font-size: 3rem;
  max-width:50%;
   
  color: whitesmoke;
  padding: 0;
  margin-bottom: 0; 
}
.Content1-caption p{
  padding: 0;
  margin-top: 35px;
  font-size: 1.5rem;
  max-width: 50%;
  color: white;
}
.contentcenter
{
  display: flex;
  margin-top: 200px; 
  justify-items: center;
  
}
.card-stat{
  background:blanchedalmond;
  background: #0f0330;
  color:aliceblue;
  position: relative;
  width: 320px;
  height: 150px;
  text-align: center;
  margin: 100px 20px;
  box-shadow: 0 4px 4px 0 rgba(221, 11, 11, 0.2);
  /* max-width: 300px; */
  text-align: center;
   font-family: 'Smooch Sans', sans-serif;
}
.card-stat h1{
  font-size: 1.5rem;
   font-family: 'Smooch Sans', sans-serif;
}

.title-nft-nft{
  color: grey;
  margin-top:8px;
  display: inline-flex;
  text-align: center;
  font-size: 18px;
  max-width: 80%;
}
.app{
  font-family: sans-serif;
  display: flex;
  margin-left: 45px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.Login-img{
  right: 0%;
  z-index: 0;
  width:100%;
  height: 100%;
  position: absolute;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background:#144cb362;
  border: 1px solid #0f0330;
  border-radius: 8%;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background:rgba(0, 0, 0, 0.404);
  border-radius: 8%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  z-index: 10;
  width: 35%;
  background-color:#38fafaa9;
  padding: 2rem;
  border-radius:5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title-login{
  display:flex;
  color: #0f0330;
  justify-content:center;
  font-size: 2.1875rem;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
.input-container label{
  font-size: 1.4625rem;
}
.Nft{
  display: flex; 
  justify-content: space-around;
  
}
.Nft >  Card{
  border-radius: 8px;
}